.chat_window{
    position: absolute;
    max-width: 38rem;
    z-index: 10;
    bottom: 0vh;
    left: 0vw;
    width: 30vw;
    height: 40vh;
}

.chat-messages_window{
    width: 30vw;
    margin: auto;
}

.--allMessages{
    height: 35vh;
    overflow-y: auto;
    background-color: #3178b363;
    text-align: left;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}