.menuButton {
    position: absolute;
    width: 15vw;
    bottom: 0vh;
    right: 20vw;
    border-radius: 10px;
    background-color: rgb(212, 91, 80);
    font-weight: bold;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
}

.gameMenu_window {
    position: absolute;
    width: 15vw;
    height: 20vw;
    bottom: 0vh;
    right: 20vw;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(212, 91, 80, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.buttonMenu_hold {
    position: absolute;
    width: 100%;
    top: 1vh;
    height: 10%;
    background-color: rgb(212, 91, 80, 0.9);
    border-radius: 5px;
    text-align: center;   
}

.MenuHold {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background-color: rgb(161, 85, 78);
    cursor: pointer;
}
.imgHold{
    width: 100%;
    height: 100%;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 
    20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}